/* these will help ensure that the popout positions correctly on the lhs of the screen */
iframe {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 800px;
    height: 50%;
    background-color: #5ef7ff;
    border: black solid 2px;
}


/* This holds the spinner when the scene is loading instead of just showing a blank page. */
#loaderHolder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* makes sure the loading screen animates */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
