/* Style for popout iframe and its content rows. */
.iframeLeft {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 840px;
    height: 80%;
    border: black solid 2px;
}

.iframeRight {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 840px;
    height: 80%;
    border: black solid 2px;
}

.no-padding {
    padding: 0 !important;
}

#the-popout {
    height: 100%;
    width: 100%;
    padding: 0px;
}

#the-title-row {
    margin: 0px;
    padding: 20px 0px 10px 0px;
    text-align: center;
}

#close-btn-col {
    padding: 0px 0px 0px 24px;
}

#close-btn {
    margin: 6px 0px 0px 0px;
}

#the-body-row {
    margin: 10px;
}

#the-image-row {
    margin: 10px 15px 20px 15px;
    padding: 0px;
}


/* console zoom image is width: 1100px; height: 1280px; */

#close-btn-col-z {
    background-color: white;
    padding: 0px 12px 0px 12px;
}

#close-btn-z {
    margin: 0px 0px 0px 0px;
    --bs-btn-close-opacity: 0.75;
    height: 2em;
    width: 2em;
}

#zoom-body {
    /* background-color: #bfffff; */
    background-color: #4f4f4f;
}

.zoomer {
    /* margin: 0px 0px 0px 40px; */
    margin: 0px;
    padding: 0px;
}

.zoom-image-size {
    max-width: 100%;
    max-height: 100%;
}

.zoom-title {
    color: white;
    margin: 0px;
    text-align: center;
}

.zoom-size {
    max-width: 1100px;
}

.btn-row {
    margin: 15px 0px 10px 25px;
}

.btn-custom-violet {
    --bs-btn-color: #000;
    --bs-btn-bg: #ef7fef;
    --bs-btn-border-color: #cf5fcf;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #cf5fcf;
    --bs-btn-hover-border-color: #bf4fbf;
}

.info-btn {
    margin: 0px 4px 0px 0px;
    --bs-btn-focus-shadow-rgb: 255, 255, 255;
}
